body {
    font-family: Arial, sans-serif; 
    font-weight: normal;
    font-size: 16px;
    color:black;
    background-color: #ECDFCC;
    text-align: left;
    
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-image: url(kitchen.jpg);
}

.recipe {
    width: 45%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    color: #555;
}

a {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin: 15px;
    align-self: center;
}

a:hover {
    background-color: #555;
}
  
.picture {
    display: inline-block;
    margin: 5px; 
    text-align: center;
    margin-left: 5%;
  }
  
  .picture img {
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
    border: solid orange 5px;
  }
.kape1{
    background-image: url(background.coffee);
    background-size: cover;
}
.name {
    margin-top: 8px;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    color: brown   
  }
  p{
    font-size: 30px;
    font-weight: bold;
    margin: 40px;
    color: white;
  }